doctype html
html
    head
        link(href='style.css' rel='stylesheet')
    body
        header
            ul
                li
                    a(class='title' href=config.navigation[2][1]) #{config.navigation[5][0]}
                li(class='list_item')
                    a(class='nav_item' href=config.navigation[3][1]) #{config.navigation[1][1]}
                li(class='list_item')
                    a(class='nav_item' href=config.navigation[4][1]) #{config.navigation[4][1]}
                li(class='list_item' style="float:right")
                    a(class='nav_logout' href="/") logout
        section
            block content
            script(src='scripts/cardScript.js')
        footer